<%$.each(mainData,function(index,item){%>
<li>
    <span class="glyphicon glyphicon-triangle-right"></span>
        <a href="javascript:;"><%=item.title%></a>
        <time class="pull-right"><%=item.date%></time>
        </li>
<%})%>